<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - VirtualMarket</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('header.ejs') %>

    <!-- Portfolio Content -->
    <main class="portfolio-page">
      <div class="chart-box">
        <canvas id="portfolioChart"></canvas>
      </div>

      <div class="portfolio-stats">
        <div>Portfolio Total: <strong>$<%- portfolioHistory.equity.at(-1) %></strong></div>
        <div>Portfolio Change: $<%- portfolioHistory.profit_loss.at(-1) %></div>
        <div>Portfolio Change %: <%- portfolioHistory.profit_loss_pct.at(-1) * 100 %></div>
      </div>
      <h1>Held Positions:</h1>
      <div class="positions-list">
        <% for (const position of openPositionsList) { %>
          <div class="position-item mb-4 p-3 border rounded bg-dark text-white">
            <p><strong>Stock:</strong> <%= position.symbol %></p>
            <p><strong>Quantity:</strong> <%= position.qty %></p>
            <p><strong>Total Return:</strong> $<%= position.unrealized_pl %></p>
            <form action="/portfolio/sell" method="POST">
              <input type="hidden" name="stockSymbol" value="<%= position.symbol %>">
              <input type="number" name="quantity" min="1" max="<%= position.qty %>" required>
              <button class="btn btn-sm btn-danger" type="submit">Sell</button>
            </form>
          </div>
        <% } %>
      </div>
      <h1>Open Orders:</h1>
      <div class="orders-list">
        <% for (const openOrder of openOrders) { %>
          <div class="order-item mb-4 p-3 border rounded bg-dark text-white">
            <p><strong>Stock:</strong> <%= openOrder.symbol %></p>
            <p><strong>Quantity:</strong> <%= openOrder.qty %></p>
            <p><strong>Side:</strong> <%= openOrder.side %></p>
            <p><strong>Status:</strong> <%= openOrder.status %></p>
          </div>
        <% } %>
      </div>      
      
    </main>

    <script>
      const ctx = document.getElementById("portfolioChart").getContext("2d");
      const chartLabels = <%- JSON.stringify(pacificTimestamps) %>;
      const chartData = <%- JSON.stringify(portfolioHistory.equity) %>;
      chartLabels[chartLabels.length - 1] = "Now"
      new Chart(ctx, {
        type: "line",
        data: {
          labels: chartLabels,
          datasets: [
            {
              label: "24 Hour Portfolio Total",
              data: chartData,
              borderColor: "#00cc66",
              backgroundColor: "rgba(0, 204, 102, 0.2)",
              tension: 0.3,
              pointBackgroundColor: "#fff",
              fill: true,
            },
          ],
        },
        options: {
          plugins: {
            legend: {
              labels: { color: "#fff" },
            },
          },
          scales: {
            x: {
              ticks: { color: "#ccc" },
              grid: { color: "#444" },
            },
            y: {
              ticks: { color: "#ccc" },
              grid: { color: "#444" },
            },
          },
        },
      });
    </script>
  </body>
</html>
