<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - VirtualMarket</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="logo">
        <a href="/">
          <img
            src="/images/logo.png"
            alt="VirtualMarket Logo"
            class="logo-img"
          />
        </a>
      </div>

      <div class="nav-container">
        <nav class="nav-links">
          <a href="/">Home</a>
          <a href="/stock">Stock Market</a>
          <a href="/portfolio">Portfolio</a>
        </nav>
      </div>

      <div class="header-buttons">
        <a href="/Login"><button>Register</button></a>
        <a href="/Login"><button>Login</button></a>
      </div>
    </header>

    <!-- Portfolio Content -->
    <main class="portfolio-page">
      <div class="chart-box">
        <canvas id="portfolioChart"></canvas>
      </div>

      <div class="portfolio-stats">
        <div>Portfolio Total: <strong>$<%- portfolioHistory.equity.at(-1) %></strong></div>
        <div>Portfolio Change: $<%- portfolioHistory.profit_loss.at(-1) %></div>
        <div>Portfolio Change %: <%- portfolioHistory.profit_loss_pct.at(-1) * 100 %></div>
      </div>
      <h1> Held Positions: </h1>
      <% for (position of openPositionsList) { %>
        <tr>
          <td>Stock: <%= position.symbol %></td>
          <td>Quantity: <%= position.qty %></td>
          <td>Total Return: $<%= position.unrealized_pl %></td>
        </tr>
      <% } %>
    </main>

    <script>
      const ctx = document.getElementById("portfolioChart").getContext("2d");
      const chartLabels = <%- JSON.stringify(pacificTimestamps) %>;
      const chartData = <%- JSON.stringify(portfolioHistory.equity) %>;
      chartLabels[chartLabels.length - 1] = "Now"
      new Chart(ctx, {
        type: "line",
        data: {
          labels: chartLabels,
          datasets: [
            {
              label: "24 Hour Portfolio Total",
              data: chartData,
              borderColor: "#00cc66",
              backgroundColor: "rgba(0, 204, 102, 0.2)",
              tension: 0.3,
              pointBackgroundColor: "#fff",
              fill: true,
            },
          ],
        },
        options: {
          plugins: {
            legend: {
              labels: { color: "#fff" },
            },
          },
          scales: {
            x: {
              ticks: { color: "#ccc" },
              grid: { color: "#444" },
            },
            y: {
              ticks: { color: "#ccc" },
              grid: { color: "#444" },
            },
          },
        },
      });
    </script>
  </body>
</html>
